body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(13, 13, 37, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  z-index: 2;
}
.logo{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.logo a {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links a {
    margin: 0 15px;
    text-decoration:none ;
    color: white;
    font-weight: bold;
}

.modifier {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.modifier-button button {
    color: white !important;
    font-weight: bold !important;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;

}

.modifier-button button:hover {
    background-color: rgb(120, 120, 10);
}

.modifier-button button a {
    text-decoration: none;
    color: white;
}
