body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(13, 13, 37, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  z-index: 2;
}
.logo{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.logo a {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links a {
    margin: 0 15px;
    text-decoration:none ;
    color: white;
    font-weight: bold;
}

.btn-commander{
    background-color: rgb(145, 145, 11);
    color: white;
    padding: 8px 18px;
    margin: 50px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    padding-top: 60px;
}

.login-form {
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0d0d25;
}

.login-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.login-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    background-color: rgb(145, 145, 11);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}



.login-form p {
    text-align: justify;
}

.login-form p1 {
    text-align: center;
}

.inscription {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.inscription button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}

.inscription-button button{
    background-color: rgb(145, 145, 11);
}

.inscription-button button:hover {
    background-color: rgb(120, 120, 10);
}



.inscription button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.connexion {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.connexion button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}

.connexion-button button{
    background-color: rgb(145, 145, 11);
}

.connexion-button button:hover {
    background-color: rgb(120, 120, 10);
}



.connexion button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.incorrect{
    color:red;
}

.disabled button{
    background-color: gray;
}

i {
    font-size: 90%;
    text-align: center;
}

.box {
    background-color: white;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    
}

.center{
    text-align: center;
}

.inscriptionbutton{
    color: white;
    text-decoration: none;
    font-weight: bold;
}