body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(13, 13, 37, 0.9); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 2;
}
.logo{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links a {
    margin: 0 15px;
    text-decoration:none ;
    color: white;
    font-weight: bold;
}

.btn-commander{
    background-color: rgb(145, 145, 11);
    color: white;
    padding: 8px 18px;
    margin: 50px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}
.video-background video{
    position: fixed;
}
.scroll-container {
      position: relative;
      overflow-x: auto;
      white-space: nowrap;
      scroll-behavior: smooth;
      /* padding: 1rem 0; */
    }

.card-wrapper {
      display: inline-block;
      width: 300px;
      margin-right: 1rem;
    }

.card {
      height: 100%;
      background-color: #222;
      color: white;
    }

.produit{
    /* margin-left: 50px;
    margin-right: 50px; */
    margin: 50px;
}

.produits{
    width: 70%;
    transition: 1s;
}
.menus{
    width: 70%;
    transition: 1s;
    display: none;
    /* padding: 20px; */
}

.card-img-top{
    height: 200px;
    /* object-fit: none; */
}

.choix-commande{
   display: inline;
}

.commande{
    position: fixed;
    right: 0;
    top: 70px;
    width: 29%;
    background-color: #ababc0;
    overflow-y:scroll;
    height: 90vh;
    border-radius: 20px 0 0 20px;
    padding-left: 20px;
    padding-top: 20px;
    border: 2px solid #24243a;
    box-shadow: 0px 0px 10px #24243a;
    z-index: 1;
}

.bg-dark{
    z-index: 10;
}

.form-group{
    width: 30%;
}

/* footer{
    width: 70%;
}     */


.container-footer-ououou{
    width: 100%;
    background-color: #212529;
}

.choix{
    margin-top: 1em;
    margin-left: 3em;
    width: 70%;
    /* background-color: #212529; */
}

.btn-choix{
    margin-left: 0.9em;
}

.nouveau-prix{
    display: none;
    
}


.btn-vider{
    left: 200px;
    top: 18px;
    position: absolute;
}
.btn-valider{
    left: 320px;
    top: 2px;
    position: absolute;
}